@font-face {
  font-family: 'Georgia-Bold';
  src: url('../fonts/georgiab.eot');
  src: url('../fonts/Georgia-Bold.woff') format('woff'),
       url('../fonts/Georgia-Bold.ttf') format('truetype'),
       url('../fonts/georgiab.eot?#iefix') format('embedded-opentype'),
       url('../fonts/georgiab.woff2') format('woff2'),
       url('../fonts/Georgia-Bold.svg#Georgia-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Italic';
  src: url('../fonts/georgiai.eot');
  src: url('../fonts/Georgia-Italic.woff') format('woff'),
       url('../fonts/Georgia-Italic.ttf') format('truetype'),
       url('../fonts/georgiai.eot?#iefix') format('embedded-opentype'),
       url('../fonts/georgiai.woff2') format('woff2'),
       url('../fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Regular';
  src: url('../fonts/georgia.eot');
  src: url('../fonts/Georgia.woff') format('woff'),
       url('../fonts/Georgia.ttf') format('truetype'),
       url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
       url('../fonts/georgia.woff2') format('woff2'),
       url('../fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*General styles*/
html, body                    {    height: 100%;}
body                          {    margin: 0;
                                   padding: 0;
                                   -ms-overflow-x: hidden;
                                       overflow-x: hidden;
                                   max-width: 100%;
                                   font-family: 'Georgia-Regular';}

p                             {    color: #000;}
h1, h2, h3, h4, h5, p         {    margin: 0;}
a                             {    text-decoration: none;}
strong                        {    font-weight: 900;}
ul                            {    padding: 0;}
*                             {    box-sizing: border-box; outline: none;}
*:focus                       {    outline: none;}
::-moz-focus-inner            {    border:0;}
.clearfix:after               {    content: " "; 
                                   visibility: hidden;
                                   display: block;
                                   height: 0;
                                   clear: both;}

a[href^=tel]                  {     color:inherit !important; text-decoration:none;}

.wrapper                      {    margin: 0 auto;
                                   text-align: center;
                                   width: 1200px;}

.vertical:before              {    content: " "; 
                                   display: inline-block; vertical-align: middle; 
                                   height: 100%;
                                   margin-right: -4px;
                              }


/* -------------------------------------
   Custom Styles
   -------------------------------------- */


/*---------------------------------------------------------------*/
/*----------------------      MAIN      -------------------------*/
/*----------------------      PAGE      -------------------------*/
/*---------------------------------------------------------------*/



.slider                                 {
                                            height: 100%;
                                            width: 100%;
                                            margin: 0;
                                            text-align: center;
                                        }
.slider .slick-list,
.slider .slick-track                    {    height: 100% }
.slide                                  {
                                            height: 100%;
                                            width: 100%;
                                            background-repeat: no-repeat;
                                            background-position: 50% 50%;
                                            -webkit-background-size: cover;
                                            -o-background-size: cover;
                                            background-size: cover;
                                        }
@media (orientation: landscape) {
  .slide                                {   background-position: 50% 0%;}
}

.slider .slick-dots                     {
                                            height: 40px;
                                            margin: 0;
                                            bottom: 0px;
                                            padding-top: 5px;
                                            background-image: url(../images/dotsBg.png);
                                            background-repeat: no-repeat;
                                            background-position: 50% 50%;
                                            -webkit-background-size: auto 100%;
                                            -o-background-size: auto 100%;
                                            background-size: auto 100%;
                                        }
.slick-dots li                          {
                                            height: 12px;
                                            width: 12px;
                                            margin: 0 10px;
                                        }
.slider .slick-dots li button           {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50%;
                                            background: #545556;
                                        }
.slider .slick-dots li button:before    {    display: none }
.slider .slick-dots li.slick-active button
                                        {    background: #9E8B4C }
.mainInfo                               {
                                            display: inline-block;
                                            vertical-align: middle;
                                            padding-top: 47vh;
                                            margin: 0 auto;
                                            width: 760px;
                                            position: relative;
                                            z-index: 3;
                                        }
/*.mainInfo h1:after                      { content: " ";
                                          width: 3000px;
                                          height: 1px;
                                          background-color: rgba(255, 255, 255, 0.3);
                                          position: absolute;
                                          top: 49%;
                                          right: 50%;
                                          margin-right: -1500px;}*/
.mainInfo h1:before                     {
                                            width: 120px;
                                            height: 40px;
                                            display: block;
                                            content: "";
                                            position: absolute;
                                            right: 0;
                                            left: 0;
                                            margin: 0 auto;
                                            top: -31px;
                                            z-index: 2;
                                            background-image: url(../images/icon.png);
                                            background-repeat: no-repeat;
                                            background-position: 50% 50%;
                                            -webkit-background-size: 100% 100%;
                                            -o-background-size: 100% 100%;
                                            background-size: 100% 100%;
                                        }
.mainInfo h1                            {
                                            display: inline-block;
                                            vertical-align: middle;
                                            min-height: 120px;
                                            width: 100%;
                                            font-size: 40px;
                                            font-weight: 100;
                                            letter-spacing: -2px;
                                            font-variant: small-caps;
                                            line-height: 40px;
                                            color: #000;
                                            padding: 17px 40px 25px 40px;
                                            position: relative;
                                            background-image: url(../images/textBg.png);
                                            background-repeat: no-repeat;
                                            background-position: 50% 50%;
                                            -webkit-background-size: 100% 100%;
                                            -o-background-size: 100% 100%;
                                            background-size: 100% 100%;
                                            transform : scale(1,1.5);
                                            -webkit-transform:scale(0.85,0.97); /* Safari and Chrome */
                                            -moz-transform:scale(0.85,0.97); /* Firefox */
                                            -ms-transform:scale(0.85,0.97); /* IE 9+ */
                                            -o-transform:scale(0.85,0.97); /* Opera */
                                        }
.mainInfo h1 .lft,
.mainInfo h1 .rgt                       {   position: absolute;
                                            display: block;
                                            height: 1px;
                                            margin-top: -3px;
                                            top: 50%;
                                            width: 50vw;
                                            background-color: rgba(255, 255, 255, 0.3);
                                        }

.mainInfo h1 .lft                       {   right: 100%;}
.mainInfo h1 .rgt                       {   left: 100%;}

.moreInfo                               {
                                            display: inline-block;
                                            width: 250px;
                                            margin: -13px auto 0;
                                            border: none;
                                            padding: 12px 0 10px;
                                            background: transparent;
                                            background-image: url(../images/buttonBg.png);
                                            background-repeat: no-repeat;
                                            background-position: 50% 50%;
                                            -webkit-background-size: 100% 100%;
                                            -o-background-size: 100% 100%;
                                            background-size: 100% 100%;
                                        }
.moreInfo span                          {
                                            vertical-align: middle;
                                            font-size: 22px;
                                            font-family: "Georgia-Italic";
                                            color: #000;
                                            text-decoration: none;
                                            -webkit-transition: all 0.3s;
                                               -moz-transition: all 0.3s;
                                                -ms-transition: all 0.3s;
                                                 -o-transition: all 0.3s;
                                                    transition: all 0.3s;
                                        }
.moreInfo img                           {
                                            display: inline-block;
                                            vertical-align: middle;
                                            -webkit-transition: all 0.3s;
                                               -moz-transition: all 0.3s;
                                                -ms-transition: all 0.3s;
                                                 -o-transition: all 0.3s;
                                                    transition: all 0.3s;
                                        }
.moreInfo:hover  span                   {  opacity: 0.5;}
.moreInfo:hover  img                    {  opacity: 0.5;}



        @media (max-width: 1200px) {
            .mainInfo h1 br           { display: none;}
        }

        @media (max-width: 765px)               { 
            .mainInfo                 {width: 98%;}
            .mainInfo h1              {width: 110%;
                                              padding: 17px 5.2vw 25px 5.2vw;
                                              margin-left: -5%;
                                              font-size: 5vw;
                                              line-height: 5.2vw;
                                              min-height: 40px;
                                              letter-spacing: 0;
                                              margin-bottom: -2px;
                                              }
            .mainInfo h1 .lft,
            .mainInfo h1 .rgt         {   display: none;}
        }

        @media (max-width: 500px)                 { 
            .mainInfo h1:before         {display: none;}
            .moreInfo                   {padding: 6px 20px 6px; width: auto;}
            .moreInfo span              {font-size: 18px;}
        }
        @media (max-width: 400px)                 { 
            .moreInfo span              {font-size: 14px; padding: 6px 10px 6px;}
            .mainInfo h1                {padding: 17px 5.2vw;}
        }

        /*@media (max-height: 500px) and (orientation: landscape){
            .slide main h1              { font-size: 5.2vh; line-height: 5.2vh;}
            .moreInfo span              { font-size: 12px; margin-right: 5px; padding: 8px 10px 6px;}
        }*/
        @media (max-height: 320px) and (orientation: landscape) and (max-width: 600px) {
            .mainInfo h1              { font-size: 6.2vh; line-height: 6.2vh; padding: 17px 5.2vh;}
            .moreInfo span                   { font-size: 12px; margin-right: 5px; padding: 6px 10px 6px;}
            .mainInfo h1:before       {  bottom: 92%; top: auto;}
        }

        @media (max-height: 750px)                 { 
            .mainInfo                 {padding-top: 35vh;}
        }
        @media (max-height: 650px)                 { 
            .mainInfo                 {padding-top: 30vh;}
        }
        @media (max-height: 400px)                 { 
            .mainInfo                 {padding-top: 13vh;}
        }


/*---------------------------------------------------------------*/

header                           {
                                     width: 100%;
                                     height: 100px;
                                     position: absolute;
                                     top: 0;
                                     left: 0;
                                     z-index: 10;
                                     padding: 0 6.25vw;
                                     background-color: rgba(0, 0, 0, 0.70);
                                     text-align: center;
                                 }
.logo                            {
                                     height: 100%;
                                     float: left;
                                     width: 214px;
                                 }
.logo img                        {    width: 95% }
nav                              {
                                     display: inline-block;
                                     vertical-align: middle;
                                     text-align: center;
                                 }
.menu-button                     {    display: none }
.menu-button                     {
                                     width: 30px;
                                     height: 25px;
                                     border: none;
                                     background: transparent;
                                     padding: 0;
                                     cursor: pointer;
                                     position: relative;
                                 }
.menu-line                       {
                                     display: block;
                                     position: absolute;
                                     width: 100%;
                                     height: 5px;
                                     background-color: #9e8b4c;
                                     -webkit-border-radius: 1px;
                                     border-radius: 1px;
                                     -webkit-transition: all 0.3s;
                                     -moz-transition: all 0.3s;
                                     -ms-transition: all 0.3s;
                                     -o-transition: all 0.3s;
                                     transition: all 0.3s;
                                 }
.top_line                        {
                                     top: 0;
                                     left: 0;
                                 }
.middle_line                     {
                                     top: 10px;
                                     left: 0;
                                 }
.bottom_line                     {
                                     bottom: 0;
                                     left: 0;
                                 }
.menu-button:hover .menu-line    {    background-color: #b5a368 }
.menu-button.active .top_line    {
                                     transform: rotate(45deg);
                                     -webkit-transform: rotate(45deg);
                                     top: 45%;
                                     background-color: #FFF;
                                 }
.menu-button.active .bottom_line {
                                     transform: rotate(-45deg);
                                     -webkit-transform: rotate(-45deg);
                                     bottom: 35%;
                                     background-color: #FFF;
                                 }
.menu-button.active .middle_line {
                                     width: 0;
                                     left: 50%;
                                 }
nav                              {    position: relative }
nav ul                           {
                                     margin: 0 auto;
                                     padding: 0;
                                 }
nav li                           {
                                     display: inline-block;
                                     margin: 0 0.625vw;
                                 }
nav li a                         {
                                     color: #a7a9ac;
                                     font-size: 16px;
                                     text-transform: uppercase;
                                     font-weight: 100;
                                     -webkit-transition: padding 0.3s;
                                        -moz-transition: padding 0.3s;
                                         -ms-transition: padding 0.3s;
                                          -o-transition: padding 0.3s;
                                             transition: padding 0.3s;
                                     position: relative;
                                 }
@-moz-document url-prefix() {
  nav li a { font-size: 18px; font-variant: small-caps; text-transform: none;}
}



nav li a:hover                   {
                                     color: #ddd9ce;
                                     border-bottom: 1px solid #ddd9ce;
                                     padding-bottom: 3px;
                                     top: -2px;
                                 }
nav li:hover                     { }
header .phone                    {
                                     height: 100%;
                                     float: right;
                                 }
header .phone span               {
                                     color: #9e8b4c;
                                     font-size: 26px;
                                 }




        @media (max-width: 1400px) {
          nav li a                { font-size: 13px;}
          header .phone span      { font-size: 22px;}
          @-moz-document url-prefix() {
            nav li a { font-size: 16px; font-variant: small-caps; text-transform: none;}
          }
        }

        @media (max-width: 1200px) {
          header                  { height: 75px;}
          header .phone           { width: 214px;}

          .menu-button            { display: inline-block; vertical-align: middle;}
          nav .menu               { display:none; position: absolute; 
                                    top: 100%; left: 50%; 
                                    margin-left: -50vw; width: 100vw; 
                                    padding-top: 25px;
                                    z-index: 10;
                                  }
          nav ul                  { display: block; width: 100%; background-color: rgba(0, 0, 0, 0.7);}
          nav ul li               { display: inline-block;}
          nav ul li a             { display: block; padding: 12px 0;}
        }

        @media (max-width: 650px) {
          header .phone           { width: 200px;}
          .logo                   { width: 200px;}
          header .phone           { display: none;}
          header                  { text-align: right;}
          nav .menu               { margin-left: 0; right: -6.25vw; left: auto; width: 100vw;}
          nav ul li               { width: 50%; margin: 0 -2px;}
          nav ul li a:hover       { padding: 12px 0; background-color: #000; border: none; top: 0;}
        }

        @media (max-height: 320px) and (orientation: landscape) {
          header                  { height: 55px;}
          nav .menu               { padding-top: 15px;}
        }






/*---------------------------------------------------------------*/
/*----------------------    CONTACTS    -------------------------*/
/*----------------------      PAGE      -------------------------*/
/*---------------------------------------------------------------*/
#contacts                         { height: 100%;
                                    width: 100%;
                                    margin-bottom: -4px;
                                    background-image: url(../images/contacts/contacts-main-bg.jpg);
                                    background-repeat: repeat;}
#contacts .feedback,
#contacts .flat-image             { display: inline-block; height: 100%;}
#contacts .feedback               { width: 31.158%; float: left; padding-top: 100px;}
#contacts .flat-image             { width: 68.482%;
                                      float: right;
                                      position: relative;
                                      background-image: url(../images/contacts/flat-image.jpg);
                                      background-repeat: no-repeat;
                                      background-size: cover;
                                      background-position: 50% 50%;}
#contacts .flat-image:after       { content: " ";
                                      width: 10px;
                                      height: 100%;
                                      position: absolute;
                                      top: 0;
                                      bottom: 0;
                                      left: 0;
                                      background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
                                      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
                                      background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
                                      background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
                                      background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
                                      background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C */}

#contacts .inner-block              { padding-right: 9.5%; text-align: right; overflow: scroll;}
#contacts .engel-logo               { display: inline-block; margin-bottom: 50px; position: relative; padding-top: 50px; width: auto; max-width: 100%;}
#contacts .engel-logo img           { max-width: 100%;}
#contacts .engel-logo:after         { content: " ";
                                      width: 80%;
                                      height: 15px;
                                      position: absolute;
                                      bottom: -45px;
                                      opacity: 0.55;
                                      left: 10%;
                                      background-image: url(../images/contacts/logo-shadow.png);
                                      background-size: 100%;
                                      background-repeat: no-repeat;}  

#contacts p                         { font-size: 16px;
                                      color: #2a2a2a;
                                      letter-spacing: -0.5px;}
#contacts p img                     { margin-left: 4px;}
#contacts .phone-num                { font-size: 32px;
                                      color: #70643e!important;
                                      display: inline-block;
                                      position: relative;
                                      margin-top: 40px;
                                      margin-bottom: 44px;}
#contacts .phone-num:before         { content: " ";
                                      height: 25px;
                                      width: 25px;
                                      position: absolute;
                                      top: 60%;
                                      left: -30px;
                                      margin-top: -12px;
                                      background-image: url(../images/contacts/phone-icon.png);
                                      background-repeat: no-repeat;
                                      background-size: 100% 100%;}


#contacts form                      { padding-bottom: 60px;}
#contacts form p                    { margin-bottom: 7px; letter-spacing: -0.5px;}
#contacts form input                { display: inline-block;
                                      width: 35%;
                                      height: 38px;
                                      margin-left: 2%;
                                      margin-bottom: 5px;}

#contacts form textarea             { width: 73%; display: inline-block; resize: none; height: 82px; padding-top: 5px;}
#contacts form button               { width: 35%;
                                      display: inline-block;
                                      height: 38px;
                                      color: #fff;
                                      background-color: #70653E;
                                      font-family: 'Georgia-Italic';
                                      font-size: 16px;
                                      border: none;
                                      border-radius: 4px;
                                      -webkit-transition: all 0.3s ease;
                                           -o-transition: all 0.3s ease;
                                              transition: all 0.3s ease;}
#contacts form button:hover         { background-color: #4D462B}
#contacts form input,
#contacts form textarea             { border: 1px solid #A7A7A7;
                                      font-family: 'Georgia-Italic';
                                      font-size: 16px;
                                      color: #a5a5a5;
                                      text-align: right;
                                      padding-right: 3%;
                                      margin-bottom: 5px;
                                      -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.6);
                                         -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.6);
                                              box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.6);}
#contacts address                   { font-family: 'Georgia-Italic';
                                      font-size: 16px;
                                      color: #70653e;
                                      margin-bottom: 20px;}
@media (max-width: 1200px) {
  #contacts .feedback               { padding-top: 75px; width: 40%;}
  #contacts .flat-image             { width: 60%;}
}

@media (max-width: 800px) {
  #contacts .feedback               { width: 50%;}
  #contacts .inner-block            { padding-right: 3%;}
  #contacts .flat-image             { width: 50%;}
}
@media (max-width: 700px) {
  #contacts .feedback               { width: 100%;}
  #contacts .inner-block            { padding-left: 3%; text-align: left; padding-right: 3%;}
  #contacts .flat-image             { display: none;}
  #contacts form input              { width: 73%; margin-left: 0; text-align: left;}
  #contacts form textarea           { text-align: left;}
  #contacts .phone-num              { margin-left: 30px;}
}

@media (max-width: 450px) {
  #contacts form input,
  #contacts form textarea           { width: 100%;}
}
@media (max-height: 320px) {
  #contacts .feedback {padding-top: 55px;}
}